html,
body{
  height: 100%;
  width: 100%
}

header ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-around;

}
header ul li{
    margin: 15px 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    transition: color 0.6s;
}
header ul li:hover{
  cursor: pointer;
  color: #4e45ff;
}
main{
  margin: 5px;

}
#wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: 50px auto 40px;
}
header,
footer {
  background-color: #ff6f65;

}
header {
  border-radius: 0px 0px 10px 10px;
}
footer{
  text-align: center;
  border-radius: 10px 10px 0px 0px;
  padding: 3px;
}
main div {
  display: grid;
}
#intro{
  grid-template-columns: 1fr 5fr 1fr;
  text-align: center;
  padding: 1em;

}
#intro_blokk{
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  background-color: #4e45ff;
  padding: 3em 3em;
  border-radius: 10px;
}
#intro_text h1{
  padding-bottom: 2em;
  grid-column: 2;
  grid-row: 1;
}
#intro_text {
  grid-column: 2;
  grid-row: 2;
}
#intro_logo{
  grid-column: 1;
  grid-row: 1;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}
#intro_kommune{
  grid-column: 3;
  grid-row: 1;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}

#oversikt {
  display: none;
  grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
}
#oversikt div {
  background-color: #4e45ff;
}
#detaljer {
  display: none;
}
#sammen {
display: none;
}
